body {
    font-size: 16px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* header */
header#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;
}

.header-topbar {
    background-color: #353535;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
    align-items: center;
    min-height: 30px;

}

.flex-left {
    color: #fff;
}

.flex-right a {
    color: #fff;
}

.header-bottom {
    display: flex;
    background-color: #1e2634;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 0px 100px;
}

.logo {
    max-width: 300px;
}

.search {
    display: flex;
    margin-top: 10px;
}

.search-input {
    width: 100%;
}

input[type="search"] {
    width: 100%;
    height: 40px;
    border: 1px solid #f272ac;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: 0px 0px grey;
}

.button.secondary:not(.is-outline) {
    border-bottom-right-radius: 13px;
    background-color: #ef3e3e;
    height: 40px;
    border-top-right-radius: 3px;
    color: #fff;
    width: 45px;
    border: solid 2px #fff;
}

.img-search {
    width: 18px;
}

ul.header-nav.nav-left {
    padding: 0px;
}

ul.header-nav li {
    display: inline-block;
}

ul.header-nav li a {
    color: #fff;
    font-weight: 700;
    padding: 0px 4px;
}

/* header */


/*main*/
.main {
    margin: 180px 0px 0px 0px;
}
.row-full {
    width: 1370px;
    margin-left: auto;
    margin-right: auto;
}
/* .card-item-product {
    display: flex;
  gap: 100px;
}
.introduce a
{
    color: rgba(102,102,102,.7);
    font-weight: 400;
}
.title-name-product {
    font-size: 25px;
    font-weight: 700;
    color: #555;
    margin: 0;

} */
img{
    display: block;
    max-width: 100%;
}
.card-img{
    width: 90%;
    height: 90%;
    object-fit: cover;
}
.introduce a
{
    color: rgba(102,102,102,.7);
    font-weight: 400;
}
.title-name-product {
    font-size: 25px;
    font-weight: 700;
    color: #555;
    margin: 0;

}
.card-item-product
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 30px;
    grid-template-areas:"content1 content2"
                        "content1 content3"
                        "content1 content4  ";
}
.card-item:first-child{
grid-area: content1;
}
.card-item:nth-child(2)
{
    grid-area: content2;;
}
.card-item:nth-child(3)
{
    grid-area: content3;
}
.card-item:last-child
{
    grid-area: content4;
}

.card-item-bottom
{
    color: #f6470e;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
   
}
.card-item-bottom li{
list-style-type: disc;
color: #777;
line-height: 40px;
}
.category span {
    font-size: 14px;
    color: #777;
}
.category span  a{
     color: #334862;
}

.card-info
{
    border: 0.5px solid #f6470e;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px;
}
span.aa {
    color: #f6470e;
    font-weight: 600;
    font-size: 16px;
    line-height: 15px;
    margin-top: -25px;
    margin-left: 5px;
    background: #fff;
    display: block;
    width: 190px;
    text-align: center;
}




.counter {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
    color: #333;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #666;;
    user-select: none;
}
.quanity {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.add-to-cart
{
    background: #f25;
    padding: 12px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border:0;
}
.zalo
{
    background: #0095ff;
    padding: 12px 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border:0;
}
/*main*/











/*footer*/
.section-8 {
    background-color: #1f1f1f;
}

li {
    list-style-type: disclosure-closed;

    color: #7a9c59;

}

.cards-footer {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding-top: 30px;
}

.card p {
    color: #f1f1f1;
    line-height: 30px;
}

.category-footer {
    color: #f1f1f1;
}

.category-footer h4 {
    margin: 0;
}

.address p {
    margin: 0;
}

.list-category {
    padding: 0;
    margin: 0;
    line-height: 30px;
}

.list-category li {

    padding: 7px 0 7px 25px;
    border-bottom: 1px solid #ececec
}

.list-category li a {
    color: #f1f1f1;

}

.address .icon-fotter span {
    color: #fff;
}

.infor {
    padding-top: 10px;
}

.infor a {
    padding-right: 20px;
}


.strikethrough-2 {
    margin: 60px 0px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: rgb(255, 255, 255);
}



.copyright {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
}



/*footer*/